In [1]:
# Tipe data
bilangan_bulat = 10
bilangan_desimal = 3.14
teks = "Halo, dunia!"
teks_multibaris = ' ' 'rendika dan Sayyid' ' '
nama = "Retno Eka sari"
umur = "18"
boolean = True

# Menampilkan nilai variabel
print('Nama:', nama, 'dan Umur:', umur) 
print(f"Nama: {nama} dan Umur: {umur}")
print('\n')
print(teks_multibaris)

Nama: Retno Eka sari dan Umur: 18
Nama: Retno Eka sari dan Umur: 18


 rendika dan Sayyid

In [3]:
nama = "Sayyid"
a = 10; b = 50
kesibukan, keterangan = 'Berkuliah' , 'Institut Teknologi Telkom Surabaya'
print(f" Nama saaya {nama} dan umur saya adalah {a+b} Tahun dan sedang {kesibukan} di {keterangan}")

 Nama saaya Sayyid dan umur saya adalah 60 Tahun dan sedang Berkuliah di Institut Teknologi Telkom Surabaya

In [7]:
nama = input("Masukkan nama Anda: ")
makan = 'sudah'
harga = int(input("Berapa harganya?: "))

print('\n')
print("Halo, aku", nama, 'dan aku', makan, 'makan ayam goreng yang harganya Rp', harga)

Masukkan nama Anda:  Retno
Berapa harganya?:  15000

Halo, aku Retno dan aku sudah makan ayam goreng yang harganya Rp 15000

In [9]:
import math

In [11]:
#input
a= int(input("masukkan nilai a: "))
b= int(input("masukkan nilai b: "))
c= int(input("masukkan nilai c: "))
#proses
x1= (-b + math.sqrt(b**2-4*a*c))/(2*a)
x2= (-b - math.sqrt(b**2-4*a*c))/(2*a)

print(x1, x2)

masukkan nilai a:  1
masukkan nilai b:  -1
masukkan nilai c:  -2

2.0 -1.0

In [23]:
#input
a= int(input("nilai a: "))
b= int(input("nilai b: "))
c= int(input("nilai c: "))
#proses
rata_rata = a+b+c/3
print(rata_rata)
#output
print("rata_rata =" , rata_rata)

nilai a:  2
nilai b:  4
nilai c:  6

8.0
rata_rata = 8.0

In [25]:
#Mencari nilai fungsi 
x = int(input("masukkan nilai x: "))

fx =(2*(x**3))+(2*x)+(15/x)
print("nilai f(x) =", fx)

masukkan nilai x:  2

nilai f(x) = 27.5

In [29]:
#Menentukan jarak antar titik
x1 = int(input("titik x1: "))
y1 = int(input("titik y1: "))
x2 = int(input("titik x2: "))
y2 = int(input("titik y2: "))

d = math.sqrt((((x2-x1))*2) + ((y2-y1)*2))
print(d)

titik x1:  -3
titik y1:  4
titik x2:  2
titik y2:  4

3.1622776601683795